@font-face {
	font-family: 'Mona Sans Expanded';
	src: url('@/assets/fonts/MonaSansExpanded-Black.woff2') format('woff2');
	font-weight: 900;
	font-display: swap;
}

@font-face {
	font-family: 'Mona Sans';
	src: url('@/assets/fonts/MonaSans-ExtraBold.woff2') format('woff2');
	font-weight: 900;
	font-display: swap;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    display: inline-block;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
	font-size: inherit;
	line-height: inherit;
	vertical-align: top;
	text-transform: none!important;
}

* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	user-select: none;
}

*,
:after,
:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #001d1d;
	margin: 0;
}

::-webkit-scrollbar {
	width: 5px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.4);
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
    cursor: pointer;
    height: 1.8rem;
    width: 1.8rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/></svg>');
}

::placeholder {
	color: #aaa;
	opacity: 1!important;
}

input:disabled {
	-webkit-text-fill-color: #001d1d;
	opacity: 1;
}

b,
strong {
    font-weight: 700;
}

img {
	max-width: 100%;
	height: auto;
}

#app,
main {
	width: 100%;
    height: 100%;
}

input[type="text"] {
	user-select: text!important;
	-webkit-user-select: text!important;
	-webkit-touch-callout: default!important;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	height: 4rem;
    width: 100%;
    background: #fff;
    color: #001d1d;
	z-index: 100;
}

#conteneur-header {
	display: flex;
	justify-content: space-between;
    padding: 0 2rem;
    margin: auto;
    width: 100%;
	max-width: 1200px;
}

#conteneur-header .conteneur {
	display: flex;
	align-items: center;
}

#logo {
    width: 2.4rem;
    height: 2.4rem;
    background: #00ced1;
    display: inline-block;
    border-radius: 50%;
	margin: 0.8rem 0;
	vertical-align: middle;
}

#titre {
	font-family: 'Mona Sans', sans-serif;
	font-size: 2rem;
    line-height: 4rem;
    vertical-align: middle;
	margin-left: 2rem;
	display: inline-block;
}

#titre:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 0.8rem;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.04) 50%, transparent 90%, transparent);
}

#melanger,
#afficher {
	font-size: 30px;
	cursor: pointer;
}

#melanger {
	margin-right: 1.5rem;
}

/* Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
main #page {
	position: relative;
    width: 100%;
	background: #fff;
	padding-top: 1rem;
}

#conteneur-page {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

#conteneur-avatar {
	position: relative;
	width: 100%;
	padding: 0 2rem;
    text-align: center;
	touch-action: none;
	font-size: 0;
}

#conteneur-options {
	position: relative;
	padding: 0 2rem;
	background: #fff;
}

#options {
	position: relative;
    margin: 2.5rem auto 5rem;
    width: 100%;
}

#conteneur-options .option {
	display: inline-block;
	width: 48%;
	margin-right: 4%;
	margin-bottom: 2rem;
}

#conteneur-options .option:nth-child(2n) {
	margin-right: 0;
}

.option label {
	display: block;
	width: 100%;
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 7px;
	line-height: 1.15;
	user-select: none;
}

.option select {
	display: block;
	width: 100%;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px 30px 10px 15px;
	margin: 0;
	text-align: left;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23000000" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625" /></svg>') center right no-repeat;
}

.option select:focus {
	border: 1px solid #001d1d;
}

.option input[type="color"] {
	width: 100%;
	height: 40.4px;
	border: none;
	cursor: pointer;
}

.option input[type="color"]::-moz-color-swatch {
	border: 1px solid #ddd;
	border-radius: 4px;
}

.option input[type="color"]:focus::-moz-color-swatch {
	border: 1px solid #001d1d;
}

.option input[type="color"]::-webkit-color-swatch {
	border: 1px solid #ddd;
	border-radius: 4px;
}

.option input[type="color"]:focus::-webkit-color-swatch {
	border: 1px solid #001d1d;
}

.option input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

/* Modale
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.conteneur-modale {
	position: fixed;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	animation-duration: 0.2s;
  	animation-delay: 0s;
  	animation-name: fonduEntrant;
  	animation-iteration-count: 1;
}

.modale {
	position: relative;
    background: #fff;
	width: 90%;
	max-width: 400px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 10px;
}

.modale header {
	display: flex;
	width: 100%;
	height: 45px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

.modale header .titre {
	font-weight: 700;
	font-size: 15px;
	line-height: 1.5;
	margin-left: 20px;
	user-select: none;
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.modale header .fermer {
	vertical-align: top;
	user-select: none;
	cursor: pointer;
	font-size: 24px;
	margin-right: 15px;
}

.modale .conteneur {
    position: relative;
	width: 100%;
	padding: 20px;
	overflow: auto;
    height: calc(100% - 45px);
}

.modale .contenu {
	width: 100%;
}

.modale .conteneur .bouton {
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	cursor: pointer;
	color: #001d1d;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	background: #00ced1;
	border-radius: 5px;
	letter-spacing: 1px;
	text-indent: 1px;
	user-select: none;
	transition: all ease-in 0.1s;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.modale .conteneur .bouton:hover {
	color: #fff;
	background: #001d1d;
}

.modale .bouton.large {
	width: 100%;
	text-align: center;
}

.modale .langue {
	margin-bottom: 20px;
}

.modale .langue span {
	display: inline-flex;
	width: 45px;
	height: 45px;
	justify-content: center;
	align-items: center;
	line-height: 1;
	font-size: 20px;
	border-radius: 50%;
	margin-right: 10px;
	border: 1px solid #ddd;
	cursor: pointer;
	user-select: none;
}

.modale .langue span.selectionne {
	background: #444;
	color: #fff;
	border: 1px solid #222;
}

.modale .langue span:last-child {
	margin-right: 0;
}

#modale-parametres .contenu {
	font-size: 0;
}

@keyframes fonduEntrant {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Notification
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.notification {
	font-size: 15px;
	width: 290px;
	margin-left: -145px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 10px 15px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 30px;
	animation: fonduEntrantNotification 0.4s;
}
  
@keyframes fonduEntrantNotification {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

/* Chargement
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#conteneur-chargement {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.75);
	z-index: 100000;
}

#conteneur-chargement.transparent {
	background: transparent;
}

#chargement {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.spinner {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.spinner div {
	transform-origin: 40px 40px;
	animation: spin 1.2s linear infinite;
}

.spinner div:after {
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 5px;
    height: 25px;
	border-radius: 20%;
	background: #00ced1;
}

.spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}

.spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}

.spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}

.spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}

.spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}

.spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}

.spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}

.spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}

.spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}

.spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}

.spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}

.spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}

@keyframes spin {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 359px) {
	#titre {
		font-size: 1.9rem;
	}

	#melanger,
	#afficher {
		font-size: 20px!important;
		margin-right: 0.75rem!important;
	}
}

@media screen and (max-width: 399px) {
	#titre {
		margin-left: 1rem;
	}

	.option label {
		font-size: 12px;
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 599px) {
	html {
		font-size: 50%;
	}

	#melanger,
	#afficher {
		font-size: 24px;
		margin-right: 0.9rem;
	}
}

@media screen and (min-width: 600px) and (max-width: 767px) {
	html {
		font-size: 56.25%;
	}
}

@media screen and (max-width: 767px) {
	.modale .langue span {
		width: 40px;
		height: 40px;
		font-size: 18px;
		margin-right: 9px;
	}
}
