<template>
	<main>
		<div id="conteneur-chargement" :class="{'transparent': transparence}" v-if="chargement">
			<div id="chargement">
				<div class="spinner"><div /><div /><div /><div /><div /><div /><div /><div /><div /><div /><div /><div /></div>
			</div>
		</div>

		<header id="header">
			<div id="conteneur-header">
				<div class="conteneur">
					<a :href="definirRacine()">
						<span id="logo" />
						<span id="titre">Digiface by La Digitale</span>
					</a>
				</div>
				<div class="conteneur">
					<span id="melanger" role="button" :tabindex="modale === '' ? 0 : -1" @click="melanger" @keydown.enter="melanger" :title="$t('auHasard')"><i class="material-icons">shuffle</i></span>
					<span id="afficher" role="button" :tabindex="modale === '' ? 0 : -1" @click="afficherModale" @keydown.enter="afficherModale" :title="$t('afficherParametres')"><i class="material-icons">settings</i></span>
				</div>
			</div>
		</header>

		<div id="page">
			<div id="conteneur-page">
				<div id="conteneur-avatar">
					<avataaars :width="300" :height="320" :isCircle="cercle" :circleColor="couleurCercle" :accessoriesType="lunettes" :clotheType="vetement" :clotheColor="couleurVetement" :graphicType="logoVetement" :eyebrowType="sourcils" :eyeType="yeux" :facialHairType="pilosite" :facialHairColor="couleurPilosite" :hairColor="couleurCheveux" :mouthType="bouche" :skinColor="couleurPeau" :topType="tete" :topColor="couleurAccessoireTete"></avataaars>
				</div>

				<div id="conteneur-options">
					<div id="options">
						<div class="option">
							<label for="cheveux">💇 {{ $t('cheveuxEtAccessoires') }}</label>
							<select id="cheveux" @change="modifierOption($event.target.value, 'tete')">
								<option :value="item" v-for="(item, indexItem) in listeTetes" :selected="item === tete" :key="'tete_' + indexItem">{{ $t(listeTetesTexte[indexItem]) }}</option>
							</select>
						</div>
						<div class="option" v-if="tete !== 'Eyepatch' && tete !== 'Hat' && tete !== 'Hijab' && tete !== 'Turban' && tete !== 'WinterHat1' && tete !== 'WinterHat2' && tete !== 'WinterHat3' && tete !== 'WinterHat4'">
							<label for="couleur-cheveux">💈 {{ $t('couleurCheveux') }}</label>
							<select id="couleur-cheveux" @change="modifierOption($event.target.value, 'couleurCheveux')">
								<option :value="item" v-for="(item, indexItem) in listeCouleursCheveux" :selected="item === couleurCheveux" :key="'couleur-cheveux_' + indexItem">{{ $t(listeCouleursCheveuxTexte[indexItem]) }}</option>
							</select>
						</div>
						<div class="option" v-if="tete === 'Hat' || tete === 'Hijab' || tete === 'Turban' || tete === 'WinterHat1' || tete === 'WinterHat2' || tete === 'WinterHat3' || tete === 'WinterHat4'">
							<label for="couleur-accessoire">🎩 {{ $t('couleurAccessoireTete') }}</label>
							<select id="couleur-accessoire" @change="modifierOption($event.target.value, 'couleurAccessoireTete')">
								<option :value="item" v-for="(item, indexItem) in listeCouleursAccessoireTete" :selected="item === couleurAccessoireTete" :key="'couleur-accessoire-tete_' + indexItem">{{ $t(listeCouleursTexte[indexItem]) }}</option>
							</select>
						</div>
						<div class="option">
							<label for="couleur-peau">🎨 {{ $t('couleurPeau') }}</label>
							<select id="couleur-peau" @change="modifierOption($event.target.value, 'couleurPeau')">
								<option :value="item" v-for="(item, indexItem) in listeCouleursPeau" :selected="item === couleurPeau" :key="'couleur-peau_' + indexItem">{{ $t(listeCouleursPeauTexte[indexItem]) }}</option>
							</select>
						</div>
						<div class="option">
							<label for="vetement">👚 {{ $t('vetement') }}</label>
							<select id="vetement" @change="modifierOption($event.target.value, 'vetement')">
								<option :value="item" v-for="(item, indexItem) in listeVetements" :selected="item === vetement" :key="'vetement_' + indexItem">{{ $t(listeVetementsTexte[indexItem]) }}</option>
							</select>
						</div>
						<div class="option">
							<label for="couleur-vetement">🌈 {{ $t('couleurVetement') }}</label>
							<select id="couleur-vetement" @change="modifierOption($event.target.value, 'couleurVetement')">
								<option :value="item" v-for="(item, indexItem) in listeCouleursVetement" :selected="item === couleurVetement" :key="'couleur-vetement_' + indexItem">{{ $t(listeCouleursTexte[indexItem]) }}</option>
							</select>
						</div>
						<div class="option" v-if="vetement === 'GraphicShirt'">
							<label id="logo-vetement">🐻 {{ $t('logoVetement') }}</label>
							<select for="logo-vetement" @change="modifierOption($event.target.value, 'logoVetement')">
								<option :value="item" v-for="(item, indexItem) in listeLogosVetement" :selected="item === logoVetement" :key="'logo-vetement_' + indexItem">{{ $t(listeLogosVetementTexte[indexItem]) }}</option>
							</select>
						</div>
						<div class="option">
							<label for="sourcils">✒️ {{ $t('sourcils') }}</label>
							<select id="sourcils" @change="modifierOption($event.target.value, 'sourcils')">
								<option :value="item" v-for="(item, indexItem) in listeSourcils" :selected="item === sourcils" :key="'sourcils_' + indexItem">{{ $t(listeSourcilsTexte[indexItem]) }}</option>
							</select>
						</div>
						<div class="option">
							<label for="yeux">👁️ {{ $t('yeux') }}</label>
							<select id="yeux" @change="modifierOption($event.target.value, 'yeux')">
								<option :value="item" v-for="(item, indexItem) in listeYeux" :selected="item === yeux" :key="'yeux_' + indexItem">{{ $t(listeYeuxTexte[indexItem]) }}</option>
							</select>
						</div>
						<div class="option">
							<label for="lunettes">👓 {{ $t('lunettes') }}</label>
							<select id="lunettes" @change="modifierOption($event.target.value, 'lunettes')">
								<option :value="item" v-for="(item, indexItem) in listeLunettes" :selected="item === lunettes" :key="'lunettes_' + indexItem">{{ $t(listeLunettesTexte[indexItem]) }}</option>
							</select>
						</div>
						<div class="option">
							<label for="pilosite">🧔 {{ $t('pilositeFaciale') }}</label>
							<select id="pilosite" @change="modifierOption($event.target.value, 'pilosite')">
								<option :value="item" v-for="(item, indexItem) in listePilosites" :selected="item === pilosite" :key="'pilosite_' + indexItem">{{ $t(listePilositesTexte[indexItem]) }}</option>
							</select>
						</div>
						<div class="option">
							<label for="couleur-pilosite">✨ {{ $t('couleurPilositeFaciale') }}</label>
							<select id="couleur-pilosite" @change="modifierOption($event.target.value, 'couleurPilosite')">
								<option :value="item" v-for="(item, indexItem) in listeCouleursPilosite" :selected="item === couleurPilosite" :key="'couleur-pilosite_' + indexItem">{{ $t(listeCouleursCheveuxTexte[indexItem]) }}</option>
							</select>
						</div>
						<div class="option">
							<label for="bouche">👄 {{ $t('bouche') }}</label>
							<select id="bouche" @change="modifierOption($event.target.value, 'bouche')">
								<option :value="item" v-for="(item, indexItem) in listeBouches" :selected="item === bouche" :key="'bouche_' + indexItem">{{ $t(listeBouchesTexte[indexItem]) }}</option>
							</select>
						</div>
						<!--<div class="option">
							<label>Fond</label>
							<select @change="modifierOption($event.target.value, 'cercle')">
								<option value="cercle" :selected="cercle === true">Cercle</option>
								<option value="transparent" :selected="cercle === false">Transparent</option>
							</select>
						</div>-->
						<div class="option" v-if="cercle === true">
							<label for="couleur-cercle">🔵 {{ $t('couleurCercle') }}</label>
							<input id="couleur-cercle" type="color" :value="couleurCercle" @change="modifierOption($event.target.value, 'couleurCercle')">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-if="modale === 'parametres'">
			<div id="modale-parametres" class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('parametres') }}</span>
					<span class="fermer" role="button" tabindex="0" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div class="langue">
							<span role="button" tabindex="0" :class="{'selectionne': $parent.$parent.langue === 'fr'}" @click="modifierLangue('fr')" @keydown.enter="modifierLangue('fr')">FR</span>
							<span role="button" tabindex="0" :class="{'selectionne': $parent.$parent.langue === 'it'}" @click="modifierLangue('it')" @keydown.enter="modifierLangue('it')">IT</span>
							<span role="button" tabindex="0" :class="{'selectionne': $parent.$parent.langue === 'en'}" @click="modifierLangue('en')" @keydown.enter="modifierLangue('en')">EN</span>
						</div>
						<span class="bouton large" role="button" tabindex="0" @click="telecharger" @keydown.enter="telecharger">{{ $t('telecharger') }}</span>
					</div>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
import { saveAs } from 'file-saver'
import Avataaars from 'vuejs-avataaars/src/Avataaars.vue'

export default {
	name: 'Editeur',
	components: {
		Avataaars
	},
	data () {
		return {
			chargement: true,
			transparence: false,
			modale: '',
			listeLunettes: ['Blank', 'Kurt', 'Prescription01', 'Prescription02', 'Round', 'Sunglasses', 'Wayfarers'],
			listeLunettesTexte: ['sansLunettes', 'lunettesFantaisie', 'lunettes1', 'lunettes2', 'lunettesRondes', 'lunettesSoleilFines', 'lunettesSoleilEpaisses'],
			listeVetements: ['BlazerShirt', 'BlazerSweater', 'CollarSweater', 'GraphicShirt', 'Hoodie', 'Overall', 'ShirtCrewNeck', 'ShirtScoopNeck', 'ShirtVNeck'],
			listeVetementsTexte: ['blazerTShirt', 'blazerPull', 'pullCol', 'TShirtLogo', 'sweatCapuche', 'salopette', 'TShirtRasCou', 'TShirtCouDegage', 'TShirtV'],
			listeCouleursVetement: ['Black', 'Blue01', 'Blue02', 'Blue03', 'Gray01', 'Gray02', 'Heather', 'PastelBlue', 'PastelGreen', 'PastelOrange', 'PastelRed', 'PastelYellow', 'Pink', 'Red', 'White'],
			listeCouleursTexte: ['noir', 'bleu1', 'bleu2', 'bleu3', 'gris1', 'gris2', 'petrole', 'bleuPastel', 'vertPastel', 'orangePastel', 'rougePastel', 'jaunePastel', 'rose', 'rouge', 'blanc'],
			listeLogosVetement: ['Bat', 'Cumbia', 'Deer', 'Diamond', 'Hola', 'Pizza', 'Resist', 'Selena', 'Bear', 'Skull', 'SkullOutline'],
			listeLogosVetementTexte: ['chauveSouris', 'cumbia', 'cerf', 'diamant', 'hola', 'pizza', 'resist', 'selena', 'ours', 'crane', 'craneDetoure'],
			listeSourcils: ['Angry', 'AngryNatural', 'Default', 'DefaultNatural', 'FlatNatural', 'RaisedExcited', 'RaisedExcitedNatural', 'SadConcerned', 'SadConcernedNatural', 'UnibrowNatural', 'UpDown', 'UpDownNatural'],
			listeSourcilsTexte: ['enColereFins', 'enColereEpais', 'neutresFins', 'neutresEpais', 'plats', 'levesFins', 'levesEpais', 'tristesFins', 'tristesEpais', 'monosourcil', 'asymetriquesFins', 'asymetriquesEpais'],
			listeYeux: ['Close', 'Cry', 'Default', 'Dizzy', 'EyeRoll', 'Happy', 'Hearts', 'Side', 'Squint', 'Surprised', 'Wink', 'WinkWacky'],
			listeYeuxTexte: ['fermes', 'enPleurs', 'neutres', 'enCroix', 'levesAuCiel', 'heureux', 'amoureux', 'surLeCote', 'miClos', 'surpris', 'clinOeil1', 'clinOeil2'],
			listePilosites: ['Blank', 'BeardLight', 'BeardMedium', 'BeardMajestic', 'MoustacheFancy', 'MoustacheMagnum'],
			listePilositesTexte: ['rien', 'barbe', 'barbeMoyenne', 'barbeLongue', 'moustache', 'moustacheMagnum'],
			listeCouleursPilosite: ['Auburn', 'Black', 'Blonde', 'BlondeGolden', 'Brown', 'BrownDark', 'PastelPink', 'Platinum', 'Red', 'SilverGray'],
			listeBouches: ['Concerned', 'Default', 'Disbelief', 'Eating', 'Grimace', 'Sad', 'ScreamOpen', 'Serious', 'Smile', 'Tongue', 'Twinkle', 'Vomit'],
			listeBouchesTexte: ['inquiete', 'neutre', 'incredule', 'enTrainManger', 'grimacante', 'triste', 'enTrainCrier', 'serieuse', 'souriante', 'tirantLangue', 'legerementSouriante', 'enTrainVomir'],
			listeCouleursPeau: ['Tanned', 'Yellow', 'Pale', 'Light', 'Brown', 'DarkBrown', 'Black'],
			listeCouleursPeauTexte: ['bronzee', 'jaune', 'pale', 'claire', 'brune', 'bruneFonce', 'noire'],
			listeCouleursCheveux: ['Auburn', 'Black', 'Blonde', 'BlondeGolden', 'Brown', 'BrownDark', 'PastelPink', 'Platinum', 'Red', 'SilverGray'],
			listeCouleursCheveuxTexte: ['auburn', 'noir', 'blond', 'blondDore', 'chatain', 'chatainFonce', 'rosePastel', 'platinum', 'rouge', 'argent'],
			listeTetes: ['NoHair', 'Eyepatch', 'Hat', 'Hijab', 'Turban', 'WinterHat1', 'WinterHat2', 'WinterHat3', 'WinterHat4', 'LongHairBigHair', 'LongHairBun', 'LongHairCurly', 'LongHairCurvy', 'LongHairDreads', 'LongHairFrida', 'LongHairFro', 'LongHairFroBand', 'ShortHairDreads02', 'LongHairBob', 'LongHairNotTooLong', 'LongHairShavedSides', 'LongHairMiaWallace', 'LongHairStraight', 'LongHairStraight2', 'LongHairStraightStrand', 'ShortHairDreads01', 'ShortHairFrizzle', 'ShortHairShortCurly', 'ShortHairShortFlat', 'ShortHairShortRound', 'ShortHairShortWaved', 'ShortHairSides', 'ShortHairTheCaesar', 'ShortHairTheCaesarSidePart', 'ShortHairShaggyMullet'],
			listeTetesTexte: ['chauve', 'cacheOeil', 'chapeau', 'hijab', 'turban', 'bonnet1', 'bonnet2', 'bonnet3', 'bonnet4', 'cheveuxLongsVolume', 'chignon', 'cheveuxLongsFrises', 'cheveuxLongsBoucles', 'dreadLocks', 'coupeFridaKahlo', 'coupeAfro1', 'coupeAfro2', 'coupeAfro3', 'coupeCarre1', 'coupeCarre2', 'cheveuxLongsCotesRases', 'coupeMiaWallace', 'cheveuxLongsRaides1', 'cheveuxLongsRaides2', 'cheveuxLongsRaides3', 'cheveuxCourts1', 'cheveuxCourts2', 'cheveuxCourts3', 'cheveuxCourts4', 'cheveuxCourts5', 'cheveuxCourts6', 'craneDegarni', 'coupeCesar1', 'coupeCesar2', 'coupeMulet'],
			listeCouleursAccessoireTete: ['Black', 'Blue01', 'Blue02', 'Blue03', 'Gray01', 'Gray02', 'Heather', 'PastelBlue', 'PastelGreen', 'PastelOrange', 'PastelRed', 'PastelYellow', 'Pink', 'Red', 'White'],
			cercle: true,
			couleurCercle: '#00ced1',
			lunettes: '',
			vetement: '',
			couleurVetement: '',
			logoVetement: '',
			sourcils: '',
			yeux: '',
			pilosite: '',
			couleurPilosite: '',
			bouche: '',
			couleurPeau: '',
			couleurCheveux: '',
			tete: '',
			couleurAccessoireTete: '',
			elementPrecedent: null
		}
	},
	created () {
		this.melanger()
		const langue = this.$route.query.lang
		if (this.$parent.$parent.langues.includes(langue) === true) {
			this.$parent.$parent.langue = langue
			localStorage.setItem('digiface_lang', langue)
		}
	},
	mounted () {
		const langue = navigator.language.substring(0, 2)
		if (this.$parent.$parent.langues.includes(this.$route.query.lang) === false && this.$parent.$parent.langues.includes(langue) === true) {
			this.$parent.$parent.langue = langue
		}
		if (localStorage.getItem('digiface_lang')) {
			this.$parent.$parent.langue = localStorage.getItem('digiface_lang')
		}
		this.$root.$i18n.locale = this.$parent.$parent.langue
		document.getElementsByTagName('html')[0].setAttribute('lang', this.$parent.$parent.langue)

		setTimeout(function () {
			this.chargement = false
		}.bind(this), 200)

		document.addEventListener('keydown', this.gererClavier, false)

		window.addEventListener('beforeunload', function (event) {
			event.preventDefault()
			event.returnValue = ''
		})
	},
	beforeUnmount () {
		document.removeEventListener('keydown', this.gererClavier, false)
	},
	methods: {
		definirRacine () {
			return window.location.href.replace('#/creer', '')
		},
		afficherModale () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'parametres'
			this.$nextTick(function () {
				document.querySelector('#modale-parametres .fermer').focus()
			})
		},
		fermerModale () {
			this.modale = ''
			this.gererFocus()
		},
		modifierLangue (langue) {
			this.$root.$i18n.locale = langue
			this.$parent.$parent.langue = langue
			document.getElementsByTagName('html')[0].setAttribute('lang', langue)
			this.$parent.$parent.notification = this.$t('langueModifiee')
			localStorage.setItem('digiface_lang', langue)
		},
		melanger () {
			this.lunettes = this.listeLunettes[Math.floor(Math.random() * this.listeLunettes.length)]
			this.vetement = this.listeVetements[Math.floor(Math.random() * this.listeVetements.length)]
			this.couleurVetement = this.listeCouleursVetement[Math.floor(Math.random() * this.listeCouleursVetement.length)]
			this.logoVetement = this.listeLogosVetement[Math.floor(Math.random() * this.listeLogosVetement.length)]
			this.sourcils = this.listeSourcils[Math.floor(Math.random() * this.listeSourcils.length)]
			this.yeux = this.listeYeux[Math.floor(Math.random() * this.listeYeux.length)]
			this.pilosite = this.listePilosites[Math.floor(Math.random() * this.listePilosites.length)]
			this.couleurPilosite = this.listeCouleursPilosite[Math.floor(Math.random() * this.listeCouleursPilosite.length)]
			this.bouche = this.listeBouches[Math.floor(Math.random() * this.listeBouches.length)]
			this.couleurPeau = this.listeCouleursPeau[Math.floor(Math.random() * this.listeCouleursPeau.length)]
			this.couleurCheveux = this.listeCouleursCheveux[Math.floor(Math.random() * this.listeCouleursCheveux.length)]
			this.tete = this.listeTetes[Math.floor(Math.random() * this.listeTetes.length)]
			this.couleurAccessoireTete = this.listeCouleursAccessoireTete[Math.floor(Math.random() * this.listeCouleursAccessoireTete.length)]
		},
		telecharger () {
			this.transparence = true
			this.chargement = true
			const id = 'avatar_' + new Date().getTime()
			const svg = document.querySelector('svg')
			const canvas = document.createElement('canvas')
			canvas.width = 900
			canvas.height = 960
			const contexte = canvas.getContext('2d')
			const donnees = (new XMLSerializer()).serializeToString(svg)
			const img = new Image()
			const svgBlob = new Blob([donnees], { type: 'image/svg+xml' })
			const url = window.URL.createObjectURL(svgBlob)
			img.onload = function () {
				contexte.drawImage(img, 0, 0, 900, 960)
				window.URL.revokeObjectURL(url)
				canvas.toBlob(function (blob) {
					this.chargement = false
					this.transparence = false
					saveAs(blob, id + '.png')
					this.modale = ''
				}.bind(this), 'image/png')
			}.bind(this)
			img.src = url
		},
		modifierOption (valeur, option) {
			if (option === 'cercle' && valeur === 'cercle') {
				this.cercle = true
			} else if (option === 'cercle' && valeur === 'transparent') {
				this.cercle = false
			} else {
				this[option] = valeur
			}
		},
		gererClavier (event) {
			if (event.key === 'Escape' && this.modale !== '') {
				this.fermerModale()
			}
		},
		gererFocus () {
			if (this.elementPrecedent) {
				this.elementPrecedent.focus()
				this.elementPrecedent = null
			}
		}
	}
}
</script>
